body {
	font-family: Verdana, Arial;
}

.main-header {
	font-size: 30px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 0px;
	margin-bottom: 5px;
}

.main-header h1 {
	color:  #c39bd3;
	margin-bottom: 10px;
}

.main-header p {
	font-size: 20px;
	color: #515a5a;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

@media (max-width: 600px) {
	.main-header {
		font-size: 15px;
	}
	
	.main-header p {
		font-size: 10px;
		text-align: justify;
	}
}