body {
	font-family: Verdana, Arial;
}

.main-header {
	font-size: 30px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 0px;
	margin-bottom: 10px;
}

.main-header h1 {
	color:  #c39bd3;
}

@media (max-width: 600px) {
	.main-header {
		font-size: 15px;
	}
}