<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<meta name="keywords" content="horoscopo, horoscope, megahoroscopo, mega, mega-horoscopo, astro, futuro, capricornio, geminis, aries, tauro, sagitario, virgo, acuario, cancer, leo, libra, escorpio, piscis">
		<meta name="author" content="esanchez">
	
		<link rel="stylesheet" th:href="@{/css/common-styles.css}">
		<link rel="stylesheet" th:href="@{/css/landing-page-styles.css}">
		
		<title>Mega-Hor&oacute;scopo</title>
	</head>
	<body>
		<header class="main-header">
			<h1>Mega-Hor&oacute;scopo</h1>
			<p>Bienvenido a Mega-Hor&oacute;scopo, un lugar en el cual podrás consultar tu hor&oacute;scopo semanal por tan solo 1&euro;. Disfr&uacute;talo</p>
		</header>
		<section id="landing-page-signs">
		
		</section>
	</body>
</html>