<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<meta name="keywords" content="horoscopo, horoscope, megahoroscopo, mega, mega-horoscopo, astro, futuro, capricornio, geminis, aries, tauro, sagitario, virgo, acuario, cancer, leo, libra, escorpio, piscis">
		<meta name="author" content="esanchez">
	
		<link rel="stylesheet" th:href="@{/css/common-styles.css}">
		<link rel="stylesheet" th:href="@{/css/landing-page-styles.css}">
		
		<title>Mega-Hor&oacute;scopo</title>
	</head>
	<body>
		<header class="main-header">
			<h1>Mega-Hor&oacute;scopo</h1>
			<p>Bienvenido a Mega-Hor&oacute;scopo, un lugar en el cual podrás consultar tu hor&oacute;scopo semanal por tan solo 1&euro;. Disfr&uacute;talo</p>
		</header>
		<section id="responsive-landing-page-signs">
			<img th:src="@{/img/signs/aries.jpg}" alt="aries" class="sign">
			<img th:src="@{/img/signs/tauro.jpg}" alt="tauro" class="sign">
			<img th:src="@{/img/signs/aries.jpg}" alt="geminis" class="sign">
			<img th:src="@{/img/signs/aries.jpg}" alt="cancer" class="sign">
			<img th:src="@{/img/signs/aries.jpg}" alt="leo" class="sign">
			<img th:src="@{/img/signs/aries.jpg}" alt="virgo" class="sign">
			<img th:src="@{/img/signs/aries.jpg}" alt="libra" class="sign">
			<img th:src="@{/img/signs/aries.jpg}" alt="escorpio" class="sign">
			<img th:src="@{/img/signs/aries.jpg}" alt="sagitario" class="sign">
			<img th:src="@{/img/signs/aries.jpg}" alt="capricornio" class="sign">
			<img th:src="@{/img/signs/aries.jpg}" alt="acuario" class="sign">
			<img th:src="@{/img/signs/aries.jpg}" alt="piscis" class="sign">
		</section>
		<section id="desktop-landing-page-signs">
			<table>
				<tr>
					<td><img th:src="@{/img/signs/aries.jpg}" alt="aries" class="sign"></td>
					<td><img th:src="@{/img/signs/tauro.jpg}" alt="tauro" class="sign"></td>
					<td><img th:src="@{/img/signs/aries.jpg}" alt="geminis" class="sign"></td>
					<td><img th:src="@{/img/signs/aries.jpg}" alt="cancer" class="sign"></td>
				</tr>
				<tr>
					<td><img th:src="@{/img/signs/aries.jpg}" alt="leo" class="sign"></td>
					<td><img th:src="@{/img/signs/aries.jpg}" alt="virgo" class="sign"></td>
					<td><img th:src="@{/img/signs/aries.jpg}" alt="libra" class="sign"></td>
					<td><img th:src="@{/img/signs/aries.jpg}" alt="escorpio" class="sign"></td>
				</tr>
				<tr>
					<td><img th:src="@{/img/signs/aries.jpg}" alt="sagitario" class="sign"></td>
					<td><img th:src="@{/img/signs/aries.jpg}" alt="capricornio" class="sign"></td>
					<td><img th:src="@{/img/signs/aries.jpg}" alt="acuario" class="sign"></td>
					<td><img th:src="@{/img/signs/aries.jpg}" alt="piscis" class="sign"></td>
				</tr>
			</table>
		</section>
	</body>
</html>