<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<meta name="keywords" content="horoscopo, horoscope, megahoroscopo, mega, mega-horoscopo, astro, futuro, capricornio, geminis, aries, tauro, sagitario, virgo, acuario, cancer, leo, libra, escorpio, piscis">
		<meta name="author" content="esanchez">
	
		<link rel="stylesheet" th:href="@{/css/common-styles.css}">
		<link rel="stylesheet" th:href="@{/css/landing-page-styles.css}">
		
		<title>Mega-Hor&oacute;scopo</title>
	</head>
	<body>
		<header class="main-header">
			<h1>Mega-Hor&oacute;scopo</h1>
			<p>Bienvenido a Mega-Hor&oacute;scopo, un lugar en el cual podrás consultar tu hor&oacute;scopo semanal por tan solo 1&euro;. Disfr&uacute;talo</p>
		</header>
		<section id="responsive-landing-page-signs">
			<a href="/sign/aries"><img th:src="@{/img/signs/aries.jpg}" alt="aries" class="sign"></a>
			<a href="/sign/tauro"><img th:src="@{/img/signs/tauro.jpg}" alt="tauro" class="sign"></a>
			<a href="/sign/geminis"><img th:src="@{/img/signs/geminis.jpg}" alt="geminis" class="sign"></a>
			<a href="/sign/cancer"><img th:src="@{/img/signs/cancer.jpg}" alt="cancer" class="sign"></a>
			<a href="/sign/leo"><img th:src="@{/img/signs/leo.jpg}" alt="leo" class="sign"></a>
			<a href="/sign/virgo"><img th:src="@{/img/signs/virgo.jpg}" alt="virgo" class="sign"></a>
			<a href="/sign/libra"><img th:src="@{/img/signs/libra.jpg}" alt="libra" class="sign"></a>
			<a href="/sign/escorpio"><img th:src="@{/img/signs/escorpio.jpg}" alt="escorpio" class="sign"></a>
			<a href="/sign/sagitario"><img th:src="@{/img/signs/sagitario.jpg}" alt="sagitario" class="sign"></a>
			<a href="/sign/capricornio"><img th:src="@{/img/signs/capricornio.jpg}" alt="capricornio" class="sign"></a>
			<a href="/sign/acuario"><img th:src="@{/img/signs/acuario.jpg}" alt="acuario" class="sign"></a>
			<a href="/sign/piscis"><img th:src="@{/img/signs/piscis.jpg}" alt="piscis" class="sign"></a>
		</section>
		<section id="desktop-landing-page-signs">
			<table>
				<tr>
					<td><a href="/sign/aries"><img th:src="@{/img/signs/aries.jpg}" alt="aries" class="sign"></a></td>
					<td><a href="/sign/tauro"><img th:src="@{/img/signs/tauro.jpg}" alt="tauro" class="sign"></a></td>
					<td><a href="/sign/geminis"><img th:src="@{/img/signs/geminis.jpg}" alt="geminis" class="sign"></a></td>
					<td><a href="/sign/cancer"><img th:src="@{/img/signs/cancer.jpg}" alt="cancer" class="sign"></a></td>
				</tr>
				<tr>
					<td><a href="/sign/leo"><img th:src="@{/img/signs/leo.jpg}" alt="leo" class="sign"></a></td>
					<td><a href="/sign/virgo"><img th:src="@{/img/signs/virgo.jpg}" alt="virgo" class="sign"></a></td>
					<td><a href="/sign/libra"><img th:src="@{/img/signs/libra.jpg}" alt="libra" class="sign"></a></td>
					<td><a href="/sign/escorpio"><img th:src="@{/img/signs/escorpio.jpg}" alt="escorpio" class="sign"></a></td>
				</tr>
				<tr>
					<td><a href="/sign/sagitario"><img th:src="@{/img/signs/sagitario.jpg}" alt="sagitario" class="sign"></a></td>
					<td><a href="/sign/capricornio"><img th:src="@{/img/signs/capricornio.jpg}" alt="capricornio" class="sign"></a></td>
					<td><a href="/sign/acuario"><img th:src="@{/img/signs/acuario.jpg}" alt="acuario" class="sign"></a></td>
					<td><a href="/sign/piscis"><img th:src="@{/img/signs/piscis.jpg}" alt="piscis" class="sign"></a></td>
				</tr>
			</table>
		</section>
		<footer>
			<p>&copy;megahoroscopo.com 2023</p>
		</footer>
	</body>
</html>