<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<meta name="keywords" content="horoscopo, horoscope, megahoroscopo, mega, mega-horoscopo, astro, futuro, capricornio, geminis, aries, tauro, sagitario, virgo, acuario, cancer, leo, libra, escorpio, piscis">
		<meta name="author" content="esanchez">
	
		<link rel="stylesheet" th:href="@{/css/common-styles.css}">
		
		<title>Carta de Pago</title>
	</head>
	<body>
		<header class="main-header">
			<h1>Carta de Pago</h1>
		</header>
		<footer>
			<p>&copy;megahoroscopo.com 2023</p>
		</footer>
	</body>
</html>