<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<meta name="keywords" content="horoscopo, horoscope, megahoroscopo, mega, mega-horoscopo, astro, futuro, capricornio, geminis, aries, tauro, sagitario, virgo, acuario, cancer, leo, libra, escorpio, piscis">
	<meta name="author" content="esanchez">
	
	<link rel="stylesheet" th:href="@{/css/common-styles.css}">
  </head>
  <body>
    <!-- Replace "test" with your own sandbox Business account app client ID -->
    <script src="https://www.paypal.com/sdk/js?client-id=AdD6u6XRnH9JeiFrXnn1UAEcGfOf7uHaLPadYIEtRrch1Ug9kCWcRSVsiX3u80kY0sfhUHV7xWyp-6jh&currency=EUR"></script>
    
    <header class="main-header">
		<h1>Carta de Pago</h1>
		<p>
		Sistema de pago manejado por <a href="http://paypal.com">paypal.com</a>.<br>
		Esta página no guarda ninguna informaci&oacute;n relativa a tarjetas de cr&eacute;dito o credenciales utilizadas para el pago con Paypal u otro sistema de pago online. 
		</p>
	</header>
	<section>
		<p>
		Precio: 1&euro;<br>
		Disfruta de una semana de acceso al contenido.
		</p>
	</section>
    <!-- Set up a container element for the button -->
    <div id="paypal-button-container"></div>
    <script>
      paypal.Buttons({
        // Order is created on the server and the order id is returned
        createOrder() {
          return fetch("/api/v1/paypal/order/create", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            // use the "body" param to optionally pass additional order information
            // like product skus and quantities
            body: JSON.stringify({
              cart: [
                {
                  quantity: "1",
                },
              ],
            }),
          })
          .then((response) => response.json())
          .then((order) => order.id);
        },
        // Finalize the transaction on the server after payer approval
        onApprove(data) {
          const currentURL = window.location.href;
          const urlParts = currentURL.split('/');
          const currentSign = urlParts[urlParts.length - 1];
          
          return fetch("/api/v1/paypal/order/capture", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              orderID: data.orderID,
              sign: currentSign
            })
          })
          .then((response) => response.json())
          .then((orderData) => {
				// Successful payment:
            	const currentURL = window.location.href;
				const urlParts = currentURL.split('/');
				const currentSign = urlParts[urlParts.length - 1];
				
				window.location.href = `/sign/${currentSign}`;
          });
        }
      }).render('#paypal-button-container');
    </script>
  </body>
</html>
